%btn-shared {
    padding: 30px 90px;
    color: $color-text-link;
    border: 1px $main-color-line solid;
    text-transform: uppercase;
    color: $color-text-link;
    background-color: #16192696;
    font-family: $font-family_main;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

