%btn-shared {
    padding: 30px 90px;
    border: 1px;
    background-color: $background_btn;
    color: $color-text-link;
    font-family: $font-family_main;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

