@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
    .container {
        padding: 0 30px;
    }

    .header__nav_list {
        display: none;
    }

    .header {
        padding: 20px 0;
    }


    .header__nav_burger {
        display: block;
    }


    .main__content {
        width: 60%;
        padding-top: 150px;
    }

    .section__statistic {
        padding-top: 30px;
    }

    .statistic__content_wrapper {
        margin-left: 0%;
        width: 90%;
        margin-top: 300px;
    }

    .statistic__content {
        flex-direction: column;
    }

    .statistic__content_photo {
        height: 500px;
        width: 100%;
    }

    .statistic__list_item {
        font-size: 45px;
    }

    .quote__text {
        width: 100%;
    }

    .video {
        &__image {
            width: 720px;
        }

        &__iframe {
            width: 646px;
            height: 400px;
        }
    }
.video__signature {
    text-align: center;
    margin: 50px 50px;
}

}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .statistic__content {
        flex-direction: column;
        padding-top: 30px;
    }

    .statistic__content_wrapper {
        margin-left: 0%;
        width: 90%;
        margin-top: 300px;
    }

    .statistic__content_photo {
        height: 500px;
        width: 100%;
    }

    .quote__wrapper {
        padding: 60px 100px;
    }

    .video {
        &__image {
            width: 540px;
        }

        &__iframe {
            width: 485px;
            height: 300px;
        }
    }
}



@media screen and (max-width: 576px) {

    .container {
        padding: 0 15px;
    }

    .main__content {
        width: 90%;
        padding-top: 150px;
    }

    .main__title {
        font-size: 30px;
    }

    .statistic__content_photo {
        height: 400px;
        top: -40px;
    }

    .statistic__content_wrapper {
        flex-direction: column;
        margin-top: 150px;
        padding: 15px;
    }

    .statistic__content_desc {
        width: 100%;
    }

    .statistic__content_desc {
        text-align: center;
        align-items: center;
    }

    .quote__text {
        font-size: 21px;

        &::before {
            transform: scale(.5);

        }
    }

    .quote__wrapper {
        padding: 40px 50px;
    }

    .advantages__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 10px;
        padding: 10px 10px;
    }

    .title-h2 {
        font-size: 27px;
    }

    .video {
        &__image {
            width: 350px;
        }

        &__iframe {
            width: 314px;
            height: 195px;
        }
    }
}